{% extends "bet_base.html" %}

{% block title %} Matches {% endblock %}

{% block content %} 

<div class="container">
      <div class="row mt-3">
        <div class="col col-1"><a href="{{ url_for('edit_bonus') }}" class="btn btn-primary btn-lg" role="button">Edit</a></div>
      </div>

      <div class="row mt-3">
          <div class="col-4 col-form-label text-end"><label for="user_name">Champion</label></div>
          <div class="col-4"><input type="text" id="user_name" name="user_name" class="form-control" value="{{ champion.bonus_bet }}" disabled></div>
      </div>

      <div class="row mt-3">
          <div class="col-4 col-form-label text-end"><label for="user_pas">Top scorer</label></div>
          <div class="col-4"><input type="text" id="user_pass" name="user_pass" class="form-control" value="{{ topscorer.bonus_bet }}" disabled></div>
      </div>
</div>

{% endblock %}

<!-- <select class="form-select mb-1" aria-label="Champion" disabled>
  <option selected>Select Champion</option>
  {% for m in teams %}
    <option value="{{ m.team }}">{{ m.team }}</option>
  {% endfor %}
</select> -->